body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  border: thin solid blue;
  padding: 2rem;
  margin: 2rem;
  display: flex;
}
 
.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 57px;
  color: black;
}

/* .circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
} */

/* body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
} */
#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
#circle {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50px;
}
